services:
  xray:
    container_name: xray
    image: teddysun/xray
    restart: always
    command: sh /init_uuid.sh
    ports:
      - 18910:9000
      - 18911:9001
    volumes:
      - ${XRAY_PATH}/init_uuid.sh:/init_uuid.sh
      - ${XRAY_PATH}/etc:/etc/xray
      - ${NGINX_PATH}/ssl:/etc/xray/cert
      # 日志文件映射到统一log目录
      - ${DOCKER_BOX_HOME}/log/xray_access.log:/var/log/xray/access.log
      - ${DOCKER_BOX_HOME}/log/xray_error.log:/var/log/xray/error.log
      - /etc/resolv.conf:/etc/resolv.conf
    environment:
      - TZ=Asia/Shanghai
      - XRAY_UUID=${XRAY_UUID}
      - XRAY_CONF_SUFFIX=${XRAY_CONF_SUFFIX}
      - XRAY_UUID_9000=${XRAY_UUID_9000}
      - XRAY_UUID_9001=${XRAY_UUID_9001}
      - REALITY_PRIVATE_KEY=${REALITY_PRIVATE_KEY}
      - REALITY_PUBLIC_KEY=${REALITY_PUBLIC_KEY}
      - REALITY_SHORT_IDS=${REALITY_SHORT_IDS}
      - REALITY_DEST=${REALITY_DEST}
    networks:
      - default
