services:
  haproxy:
    restart: always
    container_name: haproxy
    image: haproxy:latest
    network_mode: host
    user: root
    labels:
      - __haproxy__
    entrypoint: ["/bin/sh", "/entrypoint.sh"]
    volumes:
      - ${HAPROXY_PATH}/haproxy.cfg.tpl:/usr/local/etc/haproxy/haproxy.cfg.tpl:ro
      - ${HAPROXY_PATH}/entrypoint.sh:/entrypoint.sh:ro
      - ${HAPROXY_PATH}/maps:/usr/local/etc/haproxy/maps:ro
      - ${HAPROXY_PATH}/log:/var/log/haproxy
    environment:
      - TZ=Asia/Shanghai
      - NF_XTLS_SERVER=${NF_XTLS_SERVER}
    depends_on:
      - nginx

  nginx:
    restart: always
    container_name: nginx
    image: nginx:latest
    network_mode: host
    labels:
      - __nginx__
    entrypoint: ["/bin/sh", "/entrypoint.sh"]
    volumes:
      - ${HTML_PATH}:/usr/share/nginx/html
      - ${NGINX_PATH}/www:/var/www
      - ${NGINX_PATH}/log:/var/log/nginx
      - ${NGINX_PATH}/conf/nginx.conf:/etc/nginx/nginx.conf
      - ${NGINX_PATH}/conf/server_params:/etc/nginx/server_params
      - ${NGINX_PATH}/conf/conf.d:/etc/nginx/conf.d
      - ${NGINX_PATH}/ssl:/etc/nginx/cert
      - ${NGINX_PATH}/script:/root/script
      - ${NGINX_PATH}/entrypoint.sh:/entrypoint.sh:ro
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - NGINX_PORT=80
      - TZ=Asia/Shanghai
    privileged: true

  acme.sh:
    image: neilpang/acme.sh:latest
    container_name: acme
    restart: always
    command: sh ./ssl.sh
    volumes:
      - ${ACME_SH_PATH}/ssl.sh:/ssl.sh:ro
      - ${ACME_SH_PATH}/acme.sh:/acme.sh
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - Ali_Key=${Ali_Key}
      - Ali_Secret=${Ali_Secret}
      - CF_Key=${CF_Key}
      - CF_Email=${CF_Email}
      - ACME_SH_EMAIL=${ACME_SH_EMAIL}
      - DOMAIN_LIST=${DOMAIN_LIST}
      - CA_LETSENCRYPT=${CA_LETSENCRYPT}
      - DEPLOY_DOCKER_CONTAINER_LABEL="__nginx__"
      - DEPLOY_DOCKER_CONTAINER_KEY_FILE="/etc/nginx/cert/default_key.pem"
      - DEPLOY_DOCKER_CONTAINER_CERT_FILE="/etc/nginx/cert/default_cert.pem"
      - DEPLOY_DOCKER_CONTAINER_CA_FILE="/etc/nginx/cert/default_ca.pem"
      - DEPLOY_DOCKER_CONTAINER_FULLCHAIN_FILE="/etc/nginx/cert/default_full.pem"
      - DEPLOY_DOCKER_CONTAINER_RELOAD_CMD="sh /root/script/reload.sh"
        #- DEPLOY_DOCKER_CONTAINER_RELOAD_CMD="service nginx force-reload"
    networks:
      - default
